.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    text-align: center;
    margin: 50px auto;
}

h2 {
    margin-bottom: 20px;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 20px;
}

a.btn:hover {
    background-color: #005bb5;
}

.event-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.event-card {
    background-color: #ececec;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
}

.event-card h3 {
    margin-top: 0;
}

.event-card p {
    margin: 5px 0;
}

.event-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.event-card a:hover {
    background-color: #005bb5;
}
